.am-backdrop {
    position: fixed;
    inset: 0;
    background-color: var(--overlay);
    display: flex;
    align-items: center;
    justify-content: center;

    .am-panel {
        background-color: var(--surface);
        position: relative;
        width: min(92vw, 42rem);
        border-radius: var(--radius-l);
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.321);
        padding: 2rem;
        color: var(--text);

        .am-tabs {
            display: flex;
            gap: 0.8rem;
            margin-bottom: 1.2rem;

            button {
                flex: 1;

                &.on {
                    background-color: var(--text);
                    color: var(--bg)
                }
            }
        }

        .am-form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .am-close {
            position: absolute;
            right: -4rem;
            top: 0;
        }

        .am-err {
            color: #c00;
            margin-top: 0.4rem;
        }

        .kakao-btn {
            display: flex;
            align-items: center;
            gap: 8px;

            background-color: #FFEB00;
            color: #381e1f;
            font-weight: 600;
            border: none;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: background-color 0.2s;

            svg {
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: #f2d600;
            }
        }
    }
}